html {
  background-color: #fa923f;
  padding: 10px;
}

body{
  background-color: yellow;
  padding: 10px;
  margin: 0;
}

.parent {
  background-color: #f073e1;
  margin: 10px;
  padding: 30px;
  height: 500px;
  display: flex; /* tells the container that we want to use flex-box properties for the container and the children of the element */
  flex-flow: row wrap; /* combines flex-direction and flex-wrap flexbox properties */
  /* flex-direction: row; flex-direction adjust the main-axis of the container */
  /* flex-wrap: wrap; tells the container to wrap the children when the container shrinks or not */
  align-items: center; /* adjusts the alignment of the items in the CROSS-AXIS of the container */
  justify-content: space-evenly; /* adjusts the alignment of the items in the MAIN-AXIS of the container */
  align-content: flex-start; /* tells the children how to align when they start to wrap */
}

.div1 {
  background-color: #f800db;
  margin: 5px;
}

.div2 {
  background-color: #f800db;
  margin: 5px;
  width: 150px;
  font-size: 30px;
}

.div3 {
  background-color: #f800db;
  margin: 5px;
  height: 150px;

}

.div4 {
  background-color: #f800db;
  margin: 5px;
  width: 150px;
  height: 150px;
}

.div5 {
  background-color: #f800db;
  margin: 5px;
  width: 200px;
}

.div6 {
  background-color: #f800db;
  margin: 5px;
  width: 200px;
}